<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="style.css")
        title Services
    body
        nav
            ul
                li
                    a(href ="/") Home
                li
                    a(href="/Services") Services
                li
                    a(href="/Contact") Contact
        h3 
            a(href="#") Consulting  
        h3             
            a(href="#") Transportation
        h3    
            a(href="#") Entertainment